eggs/
.eggs/
develop-eggs/
*.egg-info/
*.egg
*~
*.orig
*.pyc
*.swp
.environment_version
.selenium_log
.coverage*
.noseids
.venv
.idea
.tox
.testrepository
coverage.xml
pep8.txt
pylint.txt
reports
/static/
doc/build/
doc/source/sourcecode
build
dist
cover
